<h2>Employee-list works!</h2>
<p>Regular Employees</p>
<table class="table">

  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Salary</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let tempEmployees of regEmployeeList">
    <!--<th scope="row">{{tempSalesPerson.id}}</th>-->
    <td>{{tempEmployees.firstname}}</td>
    <td>{{tempEmployees.lastname}}</td>
    <td>{{tempEmployees.email}}</td>
    <td>{{tempEmployees.salary | currency: 'INR'}}</td>
  </tr>
  </tbody>
</table>
<p>Consultant</p>
<table class="table">

  <thead>
  <tr>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Hourly Amount</th>
    <th scope="col">Specialization</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let tempConsultant of consultantList">
    <!--<th scope="row">{{tempSalesPerson.id}}</th>-->
    <td>{{tempConsultant.firstname}}</td>
    <td>{{tempConsultant.lastname}}</td>
    <td>{{tempConsultant.email}}</td>
    <td>{{tempConsultant.hourlyamount | currency : 'USD'}}</td>
    <td>
      <div *ngIf="tempConsultant.specialization===0">Testing</div>
      <div *ngIf="tempConsultant.specialization===1">Consultant</div>
      <div *ngIf="tempConsultant.specialization===2">Developer</div>
    </td>

  </tr>
  </tbody>
</table>

